@model web1.Models.Thuoc

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Xóa</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenThuoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenThuoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NuocSx)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NuocSx)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HanSuDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HanSuDung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.HinhAnh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GhiChu)
        </dd>
        <dd>
            <img src="~/HinhAnh/@Html.DisplayFor(model => model.HinhAnh)" style="height:450px;width:350px" />
        </dd>




    </dl>
    <h3>Bạn có muốn xóa thông tin này?</h3>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" /> 
        </div>
    }
</div>
<div class="btn btn-warning">
    @Html.ActionLink("Quay lại  ", "Index")

</div>