@model web1.Models.ToaThuoc

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sửa</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.STT)

    <div class="form-group">
        &nbsp; &nbsp; Tên bệnh nhân
        <div class="col-md-10">
            @Html.DropDownList("MaBenhNhan", null, htmlAttributes: new { @class = "select_page form-control" })
            @Html.ValidationMessageFor(model => model.MaBenhNhan, "", new { @class = "text-danger" })
        </div>
    </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BenhDuocChanDoan, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BenhDuocChanDoan, new { htmlAttributes = new { @class = "" } })
                @Html.ValidationMessageFor(model => model.BenhDuocChanDoan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayKham, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayKham, new { htmlAttributes = new { @class = " datepicker", @type = "text" } })
                @Html.ValidationMessageFor(model => model.NgayKham, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-success" />
            </div>
        </div>
    </div>
}
    <div class="btn btn-warning">
    @Html.ActionLink("Quay lại", "Index")
    </div>
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.js"></script>
    <script>
        $(document).ready(function () {
            $(".datepicker").datepicker({

                format: 'dd/MM/yyyy'

            });
        });
    </script>


    <script>
        $(document).ready(function () {
            $('.select_page').select2({
            });

        });
    </script>
}
